@media only screen and (min-width: 1028px) {
    .contenedor.temple{
        margin: 0 auto !important;
    }

    div.contenedor {
        margin: 0 auto;
        max-width: 760px;
        box-sizing: border-box;
    }

    .navigation li a {
        color: #F6F7F8;
        padding: 30px;
        width: 100%;
    }

    nav {
        background-color: #3a373b !important;
    }

    .logoTitulo {
        padding-left: 0;
        padding-right: 0;
    }
}

/* end of media query */